.home-page {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 100px;
    min-height: 100vh;
    
}
.info {
    padding-left: 100px;
    height: 40%;
    min-height: 100%;
}

.task {
    flex-grow: 1;
    display: flex;           
    flex-direction: column;  
    align-items: center;  
    background: rgba(244, 244, 244, 1);
    min-height: 100%;
    margin-top: 20px;  
}

.task-img {
    
    margin-top: 75px;
    width: 20%;
    height: 20%;
    /* height: auto; */
}

.task-text {
    margin-top: 10px;       /* 텍스트와 이미지 간의 간격 추가 */
}

p {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    text-align: left;
    line-height: 20px;
    
}

h1 {
    font-family: Roboto;
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
    text-align: left;
}