.home-page {

    /* flex-grow: 1;       
    display: flex;              
    flex-direction: column;      
    align-items: flex-start;     */
    margin-top: 100px;
    min-height: 100vh;
    
}
.info {
    padding-left: 100px;
}
.task {
    width: 100%;
    background-color: rgb(219, 218, 218);
    min-height: 100vh;
}