.home-page {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 100px;
    min-height: 100vh;
    
}
.info {
    padding-left: 100px;
    height: 40%;
    min-height: 100%;
}

.task {
    flex-grow: 1;
    display: flex;           
    flex-direction: column;  
    align-items: center;  
    background: rgba(244, 244, 244, 1);
    
    height: 100vh;
    margin-top: 20  px;  
}

.task-info, 
.task-img-container, 
.task-text-container {
  display: flex;
  justify-content: center; /* 가로 정렬 (가운데 정렬) */
  align-items: center;     /* 세로 정렬 (가운데 정렬) */
}
.task-info-container {
    width: 100vw;
 
    flex-basis: auto;
    /* //flex: 1 1 10%;           flex-grow: 1, flex-shrink: 1, 높이는 10% */
    display: flex;
    align-items: center; 
  }
  .task-info-container .List {
    flex: 1;
    justify-content: flex-start;
    align-items: left; 
  }

  .task-info-container .button-container {
    flex: 1;
    justify-content: flex-end;
    align-items: right;
  }
  
  .task-img-container {
    margin-top: 80px;
    flex-basis: auto;
    /* //flex: 1 1 40%;           높이는 40% */
    
  }
  
  .task-text-container {
    flex-basis: auto;
    /* flex-grow: 1; */
  }
  


p {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    text-align: left;
    line-height: 20px;
    
}

h1 {
    font-family: Roboto;
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
    text-align: left;
}