.dropdown { 
    position: relative;
    display: inline-block;
}



.dropdown-button {
  padding-block: 0; /* 원하는 값으로 설정 */
  padding-inline: 0; 

  width: 120px;
  height: 40px;
  border: 0;
  background: rgb(255, 255, 255);
  
  font-size: 16px;
  text-align: left;
  padding-left: 15px;
  
  border-bottom: none;
  z-index: 2;   
  box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.2);
}



.dropdown-content {
    margin-block: 0px;
    margin-inline: 0px;
    /* display: none; */
    position: absolute;
    background-color: white;
    width: 120px;
    margin-bottom: 0px;
    box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.2);
    z-index: 2;
    padding-inline-start: 0px;

  }

  .dropdown-content li {
    color: black;
    font-size: 16px;
    line-height: 40px;
    
    /* text-decoration: none; */

    display: block;
    height:40px;
    width: 105px;
    margin-block: 0px;
    margin-inline: 0px; 
    /* padding-inline-start: 0px; */
    padding-left: 15px; 

  }

  .dropdown-content li:hover {
    color: rgba(42, 130, 240, 1);
    background-color: rgba(42, 130, 240, 0.1);
  }

