.login-page {

    flex-grow: 1;       
    display: flex;               /* Use flexbox for page contents */
    flex-direction: column;      /* Allow vertical stacking of elements */
    align-items: flex-start;     /* Align items to the left */
    margin-top: 100px;
    padding-left: 100px;
    
}

p {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    text-align: left;
    line-height: 0px;
}

h1 {
    font-family: Roboto;
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
    text-align: left;
}