.textfield.border{
    display: flex;             
    align-items: center;       
    justify-content: space-between; 
    position: relative;
    height: 100%;

    border: 2px solid rgba(42, 130, 240, 1);;    
    border-radius: 4px;   
  }

.textfield{
  display: flex;              
  align-items: center;     
  justify-content: space-between; 
  position: relative;
  height: 100%;
}
.textfield-text.border {
  display: flex;        
  align-items: center;      
  flex-grow: 1;    
  height: 100%;
  border: none;
  cursor: text;
}

  .textfield-text {
    display: flex;        
    align-items: center;      
    flex-grow: 1;    
    height: 100%;
    border: 2px solid #ccc;    
    border-radius: 1px;      
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: none;
    cursor: text;
  }


  .textfield-text.border.focus {
    display: flex;            
    align-items: center;      
    flex-grow: 1;             

    border: none;
    height:100%;
    cursor: text;
  }

  .textfield-text.focus {
    display: flex;            
    align-items: center;      
    flex-grow: 1;             

    border: 2px solid rgba(42, 130, 240, 1);;    
    border-radius: 1px;       
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: none;
    cursor: text;

  }

 
  
  .textfield-send {
    display: flex;            
    align-items: center;       
  }
  
  #textfield-input-text {
    border: none;              
    outline: none;             
    flex-grow: 1;             
    font-size: 16px;           
  }
  
  .textfield-button-delete,
  .textfield-button-send {
    width: 24px;               
    height: 24px;              
    cursor: pointer;          
    margin-left: 5px;          

  }
