.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #6C77A7;
    color: white;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left:0;
    right:0;
    height:50px;
  }